---
- name: Join node to Kubernetes control plane.
  shell: >
    {{ kubernetes_join_command }} "--ignore-preflight-errors=Port-10250"
    creates=/etc/kubernetes/kubelet.conf
  tags: ['skip_ansible_lint']
